.articleContain {
  background-color: #35363B;
}

.title {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2em;
}

.title .hd>div {
  width: 0;
  border-bottom: 3px solid transparent;
  transition: 2s;
}

.title .hd:hover>div {
  width: 100%;
  border-bottom: 3px solid #ccc;
}

.title .hd a {
  font-size: 3em;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.content .contentItem {
  padding: 2em 0;
  width: 26%;
}

.content .contentItem .contentItemLeft>div {
  padding: 1em 2em;
}

.content .contentItem .contentItemRight {
  border: 1px solid #555;
  height: 230px;
}

.content .contentItem .contentItemLeft {
  height: 230px;
}

.content .contentItem:hover .contentItemRight {
  transform: translate(-20px, -20px);
  background: #27292E;
  transition: 1s;
  cursor: pointer;
}

.content .contentItem:hover .contentItemLeft {
  background: #fff;
  transition: 1s;
  transform: translate(10px, 10px);
}

.content .contentItem .bd {
  font-size: 20px;
  padding: 10px;
}