* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after {
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box;
}

body {
  background: #27292E;
  color: #D4D4D5;
  font-size: 16px;
}

li,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  height: 1000vh;
}

.icon {
  width: 4em;
  height: 4em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}